{% extends 'base.html.twig' %}

{% block title %}Hello StoreController!{% endblock %}

{% block body %}
    <h1 class="text-center">Voici notre sélection HighTech</h1>

    <table class="table table-hover">
        <thead>
            <tr class="table-info">
                <th class="text-center">Nom produit</th>
                <th class="text-center">Catégorie</th>
                <th class="text-center">Prix unitaire</th>
                <th class="text-center">Quantité en stock</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for prod in prods %}
                <tr class="
                    {% if loop.index is divisible by(2) %}
                        table-light
                    {% else %}
                        table-dark
                    {% endif %}">
                    <td class="text-center">{{ prod.name }}</td>
                    <td class="text-center">{{ prod.category.name }}</td>
                    <td class="text-center">{{ prod.price | number_format(2, ',', '.') }} €</td>
                    <td class="text-center">{{ prod.quantity }}</td>
                    <td><a href="{{ path('edit_prod', {'id': prod.id}) }}" class="fa fa-edit"></a></td>
                    <td><a href="{{ path('delete_prod', {'id': prod.id}) }}" class="fa fa-trash"></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
